.menu {
    height: 90px;
    width: 100%;
}

.menu-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

li {
    list-style: none;
}

.grids{
    margin: 40px auto;
    display: grid;
    gap: 0px;
    column-gap: 0;
    overflow: hidden;
}

button,#select-option{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#warning-wrapper{
    display: none;
}

.warning{
    background-color: #28334AFF;
    height: 200px;;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    color: #FBDE44FF;
    position: absolute;
    top: 0;
    right: 0;
    bottom:0;
    left: 0;
    font-size: large;
    -webkit-transition: all 1s ease;
}