.menu {
    height: 90px;
    width: 100%;
}
.menu-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
li {
    list-style: none;
}
.grids{
    margin: 40px auto;
    display: grid;
    gap: 0px;
    column-gap: 0;
    overflow: hidden;
}
button,#select-option{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}