.box{
    border: 1px solid steelblue;
}
.start{
    background-color: green !important;
}
.end{
    background-color: rebeccapurple !important;
}
.blocked {
    background-color: black;
}
.boundary {
    border: none;
}

div[isVisited="true"] {
    background-color: rgb(47, 169, 218);
}


/* div[isPath="true"] {
    background-color: red
} */