.box{
    border: 1px solid steelblue;
}
.start{
    background-color: green;
}
.end{
    background-color: rebeccapurple;
}
.blocked {
    background-color: black;
}

div[isVisited="true"] {
    background-color: rgb(47, 169, 218);
}