button,#select-option,.slider{
    background-color: #FBDE44FF;
}

button:hover,#select-option:hover{
    opacity: 0.7;
}

.menu{
    background-color:#28334AFF ;
    color: white;
}

.box{
    border: 1px solid rgb(72, 155, 223);
}

.start{
    background-image: url(../images/play.png);
    background-size: 100% 100%;
}

.end{
    background-image: url(../images/stop.png);
    background-size: 100% 100%;
}

.blocked {
    background-color: black !important;
    -webkit-animation-name: wallVisited;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    /* border: black; */
}

.boundary {
    border: none;
    background-color: white !important;
}

div[isVisited="true"] {
    background-color: aqua;
    -webkit-animation-name: isVisited;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
}


@-webkit-keyframes wallVisited {
0% {
    transform: scale(0.3);
    border-radius: 100%;
}
75% {
    transform: scale(1.2);
}
100% {
    transform: scale(1);
}
}

@-webkit-keyframes isVisited {
    0% {
        transform: scale(0.3);
        background-color: rgb(151, 206, 206);
        border-radius: 100%;
    }
    75% {
        transform: scale(1.2);
        background-color: teal;
    }
    100% {
        transform: scale(1);
    }
}

div[ispath="true"]{
    background-color: rgb(208, 255, 0) !important;
    -webkit-animation-name: isPath;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes isPath {
    0% {
        transform: scale(0.3);
        background-color: rgb(205, 226, 10);
        border-radius: 100%;
    }
    75% {
        transform: scale(1.2);
        background-color: rgb(245, 241, 24);
    }
    100% {
        transform: scale(1);
    }
}